<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itsmap.kn10731.themeproject.simpledmiapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="com.itsmap.kn10731.themeproject.simpledmiapp.DMIApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:persistent="false"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.itsmap.kn10731.themeproject.simpledmiapp.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.itsmap.kn10731.themeproject.simpledmiapp.CityActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/FullscreenTheme" >
        </activity>
        <activity
            android:name="com.itsmap.kn10731.themeproject.simpledmiapp.PreferencesActivity"
            android:label="@string/title_activity_preferences" >
        </activity>

        <service
            android:name="com.itsmap.kn10731.themeproject.simpledmiapp.DownloadService"
            android:label="@string/title_service_location" >
        </service>
    </application>

</manifest>